* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

/* header {
} */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text-field {
  max-width: 500px;
  text-align: center; /* Centers the text inside */
  margin: auto; /* Helps if needed for layout */
}
